body {
    overflow-x: hidden;
}
.main-div{
    background-color: white;
    font-family: 'Reem Kufi Fun', sans-serif !important;
    font-weight:normal;
    padding:0;
}

.upload-div{
    margin-top: 2%;
    margin-bottom: 3%;
}

.how-div{
    margin-top: 4%;
    margin-bottom: 3%;
}

.upload-button{
    font-size:medium;
}

.carousel-inner .carousel-item {
    width: 700px;
    height: auto;
}


.upload-image{
    width: 550px;
    height: auto;
    border: 7px solid #1C8572;
    box-shadow:0px 3px 2px rgb(85, 85, 85);
}

.upload-text{
    background-color: #047675;
    font-size: 20px;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 5px;
}

.results-box-1{
    background-color: #1C8572;
    color: white;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    box-shadow:0px 1px 2px rgb(85, 85, 85);
}

.results-box-2{
    border: 2px solid #1C8572;
    background-color: #1C8572;
    opacity: 85%;
    color:white;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    box-shadow:0px 1px 2px rgb(85, 85, 85);
}

.btn{
    color: white;
    border: none;
    border-radius: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
    font-weight: bold;
    background-color: #047675;
    box-shadow:0px 3px 2px rgb(85, 85, 85);
}
.btn:hover{
    background-color: #036260;
    color: white;
}
.btn:active, .open > .dropdown-toggle.btn{
    background-color: #036260 !important;
    border-color:#036260!important;
}

.upload-helper{
    font-size: small;
}

.circle {
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    font-size: 18px;
    color: #047675;
    text-align: center;
    background: white;
    box-shadow:0px 2px 2px rgb(85, 85, 85);
}

.how-title{
    font-size: 20px;
    font-weight: bolder;
}

.seg-text{
    font-size: 17px;
}

.description-div{
    background-color: #ecf5f1;
}

.description-margin{
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pig-home{
    width: 375px;
    height: auto;
    border-radius: 50%;
    box-shadow:0px 5px 10px rgb(85, 85, 85);
    /* -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0
    filter: grayscale(100%); */
}

.description-logo{
    padding-left: 25px;
    padding-right: 25px;
}

.description-title{
    background-color: #047675;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
}

.title-accompany{
    background-color: #20937F;
    color: white;
    font-size: large;
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.75,  rgba(0,0,0,1)),
			color-stop(1.00,  rgba(0,0,0,0)));
    mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.75,  rgba(0,0,0,1)),
			color-stop(1.00,  rgba(0,0,0,0)));
}

.pig-title-icon{
    width: 60px;
    height: auto;
}

.description-logotext{
    font-size: larger;
}

.description-text{
    font-size: 18px;
    margin-right: 10%;
    margin-left: 10%;
}

.description-foottext{
    font-size: smaller;
    margin-right: 10%;
    margin-left: 10%;
}

.redirect-button{
    font-size: 20px;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    background-color: #047675;
    box-shadow:0px 3px 2px rgb(85, 85, 85);
}