{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static 'css/main.css' %}>

<div class="container-fluid main-div d-flex flex-column">
    <div class="description-div container-fluid text-center">
        <div class="description-margin d-flex flex-row justify-content-center">
            <div class="description-logo">
                <div class="d-flex flex-column align-self-center">
                    <div class="description-image mt-3 mr-2">
                        <img class="pig-home" src={% static 'image/pig-closeup-cropped.jpg' %} alt="pig icon">
                    </div>
                </div>
            </div>
            <div class="description-group d-flex flex-column justify-content-center align-self-center">
                <div class="description-title d-flex flex-column">
                    <div class="justify-content-center mt-2 py-1 d-flex flex-row">
                        <div class="d-flex mr-2">
                            <img class="pig-title-icon"src={% static 'image/pig_icon_2.png' %} alt="pig icon">
                        </div>
                        <div class="d-flex align-self-center mt-2 mb-1">
                            TailSafe
                        </div>
                    </div>
                    <div class="title-accompany mt-1 pt-2 d-flex flex-row justify-content-center">
                        <p>
                            Empowering Farm Decision Making with Pig Tail Biting Detection
                        </p>
                    </div>
                </div>
                <div class="description-text text-justify text-wrap mt-4">
                    <p class="">
                        Tail biting is a significant welfare problem in pig farming where one pig bites the tail of another, 
                        causing harm, pain, and stress in the pen. This can be a sign of various issues such as poor living conditions, 
                        health problems, and boredom, which can lead to abnormal behavior. <br><br>
            
                        TailSafe is a website application developed to detect head-to-rear contact between pigs in a pen by analyzing 
                        uploaded pig pen images. This can help diagnose if tail biting is possibly present in a pen to act as a decision 
                        support tool for medical interventation and maintain welfare in the pig farm.
                    </p>
                </div>
                <div class="description-foottext text-uppercase text-justify text-wrap mt-4 text-center">
                    <a href="#upload-section">
                        <button class="redirect-button btn container-fluid text-uppercase mt-2">
                            Start detecting now
                        </button>
                    </a>
                    <p class="mt-3">
                        Pig Head-to-Rear Contact Detection Website Application
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="how-div">
        <div class="how-title container-fluid text-center mb-5 font-weight-bold">
            How to use TailSafe for Pig Tail Biting Detection
        </div>
        <div class="container segment-container">
            <div class="row">
              <div class="col-sm">
                <div class="row text-justify pr-1">
                    <p class="col-0 mt-2 circle">1</p>
                    <p class="seg-text col p-1 ml-2 mr-4">
                        Select a pig pen image by clicking on "Choose File" then click the "Upload Image" button to upload it.
                    </p>
                </div>
              </div>
              <div class="col-sm">
                <div class="row text-justify pr-1">
                    <p class="col-0 mt-2 circle">2</p>
                    <p class="seg-text col p-1 ml-2 mr-4">
                        Confirm the selected image by clicking the "Submit and Process" button to initiate image processing.
                    </p>
                </div>
              </div>
              <div class="col-sm">
                <div class="row text-justify pr-1">
                    <p class="col-0 mt-2 circle">3</p>
                    <p class="seg-text col p-1 ml-2 mr-4">
                        View the results to determine if the image contains any contacts and the total counts of contacts detected.
                    </p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <hr class="hr hr-blurry" />
    <div class="upload-div d-flex flex-column mx-auto">
        <div id="upload-section" class="upload-text-container d-flex justify-content-center mx-3 mt-2 mb-2 ">
            <p class="upload-text head-text font-weight-bold">
                Detect head-to-rear contact between pigs
            </p>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="upload-button-container d-flex flex-column justify-content-center mt-5">
                <div class="custom-file custom-file-button mb-2">
                    <input id="fileInput" class="form-control form-control-lg" type="file" Required name="image" />
                </div>
                <button type="submit" class="upload-button btn container-fluid text-uppercase mt-2">
                    <i class="fa-solid fa-plus mr-2"></i>UPLOAD IMAGE
                </button>
                {% csrf_token %}
            </div>
        </form>
        <div class="upload-helper-container d-flex justify-content-center">
            <p class="upload-helper mt-1">
                please upload images only
            </p>
        </div>
    </div>
</div>
{% endblock content %}